@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:800,500,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lora:400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@font-face
  font-family "Myriad Pro";
  src url(../fonts/MYRIADPRO-REGULAR.OTF);

$font-karla = 'Karla', sans-serif;
$font-raleway = 'Raleway', sans-serif;
$font-osans = 'Open Sans', sans-serif;
$font-lora = 'Lora', serif;
$font-robslab = 'Roboto Slab', serif;
$font-myriad = 'Myriad Pro', sans-serif;

$col-white = #ffffff
$col-black = #000000
$col-orange = #f7941d
$col-whiteblue-10 = #e5eef0
$col-gray = #93a1a7
$col-bordergray = #d8e3e6
$col-blue = #29c2e1
$col-blackblue = #23282f
$col-darkgray = #55595f
