@import 'nib'
@require '__variables'

//initialize
html, body
  width 100%
  font-size 16px
.wrapper
  width 100%
  height 100%
  overflow hidden
.row
  &:after, &:before
    display none
//universal
address
  margin 0
.active-nav
  color $col-blackblue !important
.btn-blue
  color $col-white
  background $col-blue
  font 400 15px $font-karla
  letter-spacing 1px
  border-radius 25px
  padding 12px 25px !important
  &:hover
    background $col-blue
.article-head
  font 700 30px/24px $font-raleway
  color $col-blackblue
.article-subhead
  font 400 18px/24px $font-karla
  color $col-blackblue
.article-desc
  font 400 14px/24px $font-osans
  color $col-darkgray
.feature-head
  font 500 20px/24px $font-raleway
  color $col-blackblue
.article-desc-italic
  font italic 15px/24px $font-lora
  color $col-darkgray
.feat-ico
  width 67px
  height 67px
  background $col-whiteblue-10
  position absolute
  &:before
    content ""
    display block
    background url("../img/features-icosprite.png") no-repeat
//-------------------------
.prime-header
  .logo
    @media (max-width 768px)
      padding-left 20px
  .template-info
    background $col-whiteblue-10
    .template-name
      color $col-gray
      font 400 13px/50px $font-karla
      margin 0
    .phone-contact,.email-contact
      padding 0 25px 0 25px
      a
        text-decoration none
        color $col-gray
        letter-spacing 1px
        font 400 13px/50px $font-karla
        &:hover
          color $col-orange
      span
        line-height 24px
        padding-right 8px
      .fa-mobile
        font-size 25px
        vertical-align -20%
      .fa-envelope-o
        font-size 20px
        vertical-align -10%
    .phone-contact
      border-right 1px solid $col-bordergray
      a
        font-size 14px
  .template-header
    height 80px
    background $col-white
    position relative
    z-index 1000
    .navbar-toggle
      border 1px solid $col-blue
      margin 20px
    .icon-bar
      background $col-orange
    ul.navbar-nav.nav
      padding 14px 0
      background $col-white
      li > button
        width 100%
      a:not(.btn-blue)
        font 400 15px $font-karla
        color $col-gray
        letter-spacing 1px
        @media (max-width 1200px)
          padding 15px 5px
        &:hover
          color $col-black
          background $col-orange
          border-radius 10px
    .fa-angle-down
      padding 0 5px
    button.dropdown-toggle
      font 400 15px $font-karla
      width 100%
      color $col-gray
      padding 15px
      background none
      border none
      &:hover
        color $col-black
        background $col-orange
        border-radius 10px
      &:focus
        border-radius 10px 10px 0 0
//------------------------------
.image-carousel
  position relative
  .item
    height 750px
    &:before
      content ""
      position absolute
      display block
      top 0
      left 0
      right 0
      bottom 0
    &:first-child:before
      background url("../img/home-img-slide-1.jpg") no-repeat center top
    &:nth-child(2):before
      background url("../img/home-img-slide-2.jpg") no-repeat center top
    &:last-child:before
      background url("../img/home-img-slide-3.jpg") no-repeat center top
    h2
      font 700 48px $font-raleway
      color $col-white
    p
      font 700 14px/36px $font-raleway
      color $col-white
      letter-spacing 1px
  li,li.active
    border 3px solid $col-white
    width 16px
    height 16px
    &.active
      background $col-white
      margin 1px
  .item.active, .next, .prev
    display flex
    flex-direction column
    justify-content center
    align-items center
///-----------------------------
.begin-startup
  padding-top 100px
  .features-block
    list-style none
    @media (max-width 992px)
      margin-top 50px
    &+button
      margin-top 40px
    li
      position relative
      h5,p
        margin-left 97px
      &:hover > .feat-ico
        background $col-orange
      &:nth-child(1)
        .feat-ico:before
          background-position -5px -5px
          width 37px
          height 32px
        &:hover > .feat-ico:before
          background-position: -52px -5px;
      &:nth-child(2)
        .feat-ico:before
          width: 31px;
          height: 38px;
          background-position: -99px -5px;
        &:hover > .feat-ico:before
          background-position: -140px -5px;
      &:nth-child(3)
        .feat-ico:before
          width: 27px;
          height: 44px;
          background-position: -181px -5px;
        &:hover > .feat-ico:before
          background-position: -218px -5px;
//----------------------
.clients-feedback
  padding 80px 0
  background $col-whiteblue-10
  .article-desc-italic
    margin 55px 0 35px 100px
    position relative
    > span
      position absolute
      left -100px
      top 20px
      font-size 60px
      line-height 24px
      color $col-blackblue
  .article-desc
    margin 0 0 0 100px
  .cite-inner
    padding-right 40px
    border-right 1px solid $col-bordergray
  .name-orange
    color $col-orange
    font 400 14px/20px $font-karla
    margin-left 100px
  figure
    margin 0 13px 0 13px
    .orange-active
      border 5px solid $col-orange
      border-radius 50%
      box-sizing border-box
  .carousel.slide
    margin-top 55px
    .carousel-inner
      line-height 270px
  .carousel-indicators
    li
      border 1px solid $col-gray
      background $col-gray
      width 12px
      height 12px
      margin 0
      &.active
        border 1px solid $col-blue
        background $col-blue
//------------------------------------
.features-all
  .container
    padding 100px 0
    border-bottom 1px solid $col-whiteblue-10
    position relative
    > button
      position relative
      z-index 2
      @media (max-width 992px)
        margin-top 60px
  .sh-1
    position absolute
    right 100px
    bottom 0
    z-index 1
    border 79px solid transparent
    border-bottom 79px solid $col-blue
  .sh-2
    position absolute
    right 0
    bottom 0
    border 109px solid transparent
    border-bottom 109px solid $col-orange
  .features-block
    list-style none
    padding 0
    li
      position relative
      margin 60px 0
      &:last-child
        @media (max-width 992px)
          margin-bottom 0
      h5,p
        margin-left 97px
      &:hover > .feat-ico
        background $col-orange
  .f-1
    li
      &:nth-child(1)
        .feat-ico:before
          width: 36px;
          height: 32px;
          background-position: -255px -5px;
        &:hover > .feat-ico:before
          background-position: -301px -5px;
      &:nth-child(2)
        .feat-ico:before
          width: 41px;
          height: 33px;
          background-position: -347px -5px;
        &:hover > .feat-ico:before
          background-position: -398px -5px;
  .f-2
    li
      &:nth-child(1)
        .feat-ico:before
          width: 45px;
          height: 39px;
          background-position: -449px -5px;
        &:hover > .feat-ico:before
          background-position: -504px -5px;
      &:nth-child(2)
        .feat-ico:before
          width: 29px;
          height: 40px;
          background-position: -559px -5px;
        &:hover > .feat-ico:before
          background-position: -598px -5px;
  .f-3
    li
      &:nth-child(1)
        .feat-ico:before
          width: 34px;
          height: 37px;
          background-position: -637px -5px;
        &:hover > .feat-ico:before
          background-position: -681px -5px;
      &:nth-child(2)
        .feat-ico:before
          width: 38px;
          height: 34px;
          background-position: -725px -5px;
        &:hover > .feat-ico:before
          background-position: -773px -5px;
//--------------------------------
