@import 'nib'
@require 'mixin'
@require '__variables'

//initialize
html, body
  width 100%
  font-size 16px
.wrapper
  width 100%
  height 100%
  overflow hidden
.row
  &:after, &:before
    display none
//universal
address
  margin 0
ul
  list-style none
.active-nav
  color $col-blackblue !important
.col
  flex-direction column
.btn-blue
  color $col-white
  background $col-blue
  min-width 141px
  font 400 15px $font-karla
  letter-spacing 1px
  border-radius 25px
  padding 12px 25px !important
  &:hover
    background $col-gray
.btn-orange
  @extend .btn-blue
  background $col-orange
.article-head
  font 700 30px/24px $font-raleway
  color $col-blackblue
.article-subhead
  font 400 18px/24px $font-karla
  color $col-blackblue
.article-desc
  font 400 14px/24px $font-osans
  color $col-darkgray
.feature-head
  font 500 20px/24px $font-raleway
  color $col-blackblue
.article-desc-italic
  font italic 15px/24px $font-lora
  color $col-darkgray
.feat-ico
  width 67px
  height 67px
  background $col-whiteblue-10
  position absolute
  &:before
    content ""
    display block
    background url("../img/features-icosprite.png") no-repeat
.name-orange
  color $col-orange
  font 400 14px/20px $font-karla
.name-author
  font 400 14px/20px $font-karla
  color $col-blackblue
.label-recommend
  display block
  transform rotate(-45deg)
  font 400 12px/24px $font-karla
  color $col-white
  background $col-orange
  padding 6px 80px
  position absolute
  left -80px
  top 15px
.gray-nav
  font 400 14px/35px $font-karla
  color $col-gray
  letter-spacing 1px
  &:hover
    text-decoration none
    color $col-black
.blog-ul-list
  margin 60px 0
  padding-left 100px
  > li
    margin-bottom 25px
    &> p
      font 400 13px $font-karla
      color $col-blackblue
      letter-spacing 1px
      &> span
        color $col-orange
        margin-right 16px
.author-block
  width 100%
  display flex
  align-items center
  background $col-whiteblue-10
  > figure
    width 210px
    min-height 190px
  .article-desc
    max-width 590px
  .blog-txt-orange
    margin-bottom 15px
.soc-feed
  padding 0
  margin 0
  li
    padding-right 15px
    padding-top 10px
    a
      color $col-social
      &:hover
        color $col-blue
.blog-txt-orange
  font 400 15px $font-karla
  color $col-orange
  margin-bottom 0
  > time, .blog-author
    color $col-blackblue
  &:first-child
    padding-right 15px
    border-right 1px solid $col-blackblue
    margin-right 15px
.head-blog
  font 700 24px/24px $font-raleway
  text-decoration none
  color $col-blackblue
  &:hover
    text-decoration none
    color $col-gray
.comment
  display flex
  align-items center
  position relative
  > figure
    margin-right 30px
  .commenter-name
    font 400 15px/22px $font-karla
    color $col-blackblue
    margin-bottom 0
    &+span
      margin 0 15px
      line-height 22px
  time
    font 400 13px/22px $font-karla
    color $col-blackblue
    margin-bottom 0
  .article-desc
    margin-top 10px
    margin-bottom 0
  .comment-rep
    text-decoration none
    font 400 15px/22px $font-karla
    color $col-orange
    position absolute
    top 45px
    right 0
    &:hover
      color $col-blackblue
  &.rep-1
    margin-left 100px
  &.rep-2
    margin-left 150px
//-------------------------
.prime-header
  .logo
    margin 0
    font-size 10px
    padding 22px 0
    @media (max-width 768px)
      padding-left 20px
  .template-info
    background $col-whiteblue-10
    .template-name
      color $col-gray
      font 400 13px/50px $font-karla
      margin 0
    .phone-contact,.email-contact
      padding 0 25px 0 25px
      a
        text-decoration none
        color $col-gray
        letter-spacing 1px
        font 400 13px/50px $font-karla
        &:hover
          color $col-orange
      span
        line-height 24px
        padding-right 8px
      .fa-mobile
        font-size 25px
        vertical-align -20%
      .fa-envelope-o
        font-size 20px
        vertical-align -10%
    .phone-contact
      border-right 1px solid $col-bordergray
      a
        font-size 14px
  .template-header
    height 80px
    background $col-white
    position relative
    z-index 1000
    .navbar-toggle
      border 1px solid $col-blue
      margin 20px
    .icon-bar
      background $col-orange
    ul.navbar-nav.nav
      padding 14px 0
      background $col-white
      li > button
        width 100%
      > li:last-child
        padding-left 15px
        @media (max-width 768px)
          padding 0
      a:not(.btn-blue)
        font 400 15px $font-karla
        color $col-gray
        letter-spacing 1px
        @media (max-width 1200px)
          padding 15px 5px
        &:hover
          color $col-black
          background $col-orange
          border-radius 6px
    .fa-angle-down
      padding 0 5px
    button.dropdown-toggle
      font 400 15px $font-karla
      width 100%
      color $col-gray
      padding 15px
      background none
      border none
      &:hover
        color $col-black
        background $col-orange
        border-radius 6px
      &:focus
        border-radius 6px 6px 0 0
//------------------------------
.image-carousel
  position relative
  .item
    height 750px
    &:before
      content ""
      position absolute
      display block
      top 0
      left 0
      right 0
      bottom 0
    &:first-child:before
      background url("../img/home-img-slide-1.jpg") no-repeat center top
    &:nth-child(2):before
      background url("../img/home-img-slide-2.jpg") no-repeat center top
    &:last-child:before
      background url("../img/home-img-slide-3.jpg") no-repeat center top
    h2
      font 700 48px $font-raleway
      color $col-white
    p
      font 700 14px/36px $font-raleway
      color $col-white
      letter-spacing 1px
  li,li.active
    border 3px solid $col-white
    width 16px
    height 16px
    &.active
      background $col-white
      margin 1px
  .item.active, .next, .prev
    display flex
    flex-direction column
    justify-content center
    align-items center
  .carousel-indicators li
    position relative
    &:hover:not(.active) span
      display block
    .min-pre
      display none
      width 73px
      height 73px
      border-radius 50%
      border 3px solid $col-white
      position absolute
      left -32px
      bottom 30px
      &:after
        content ""
        border 6px solid transparent
        border-top 13px solid $col-white
        position relative
        top 78px
        left 500px
    &:first-child .min-pre
      background url("../img/home-img-slide-1.jpg") no-repeat center top
    &:nth-child(2) .min-pre
      background url("../img/home-img-slide-2.jpg") no-repeat center top
    &:last-child .min-pre
      background url("../img/home-img-slide-3.jpg") no-repeat center bottom
///-----------------------------
.begin-startup
  padding-top 100px
  .features-block
    @media (max-width 992px)
      margin-top 50px
    &+button
      margin-top 40px
    li
      position relative
      h5,p
        margin-left 97px
      &:hover > .feat-ico
        background $col-orange
      &:nth-child(1)
        .feat-ico:before
          background-position -5px -5px
          width 37px
          height 32px
        &:hover > .feat-ico:before
          background-position: -52px -5px;
      &:nth-child(2)
        .feat-ico:before
          width: 31px;
          height: 38px;
          background-position: -99px -5px;
        &:hover > .feat-ico:before
          background-position: -140px -5px;
      &:nth-child(3)
        .feat-ico:before
          width: 27px;
          height: 44px;
          background-position: -181px -5px;
        &:hover > .feat-ico:before
          background-position: -218px -5px;
//----------------------
.clients-feedback
  padding 80px 0
  background $col-whiteblue-10
  .article-desc-italic
    margin 55px 0 35px 100px
    position relative
    > span
      position absolute
      left -100px
      top 20px
      font-size 60px
      line-height 24px
      color $col-blackblue
  .article-desc
    margin 0 0 0 100px
  .cite-inner
    padding-right 40px
    border-right 1px solid $col-bordergray
    > p
      margin-left 100px
  figure
    margin 0 13px 0 13px
    .orange-active
      border 5px solid $col-orange
      border-radius 50%
      box-sizing border-box
  .carousel.slide
    margin-top 55px
    .carousel-inner
      line-height 270px
  .carousel-indicators
    li
      border 1px solid $col-gray
      background $col-gray
      width 12px
      height 12px
      margin 0
      &.active
        border 1px solid $col-blue
        background $col-blue
//------------------------------------
.features-all
  .container
    padding 100px 0
    border-bottom 1px solid $col-whiteblue-10
    position relative
    > button
      position relative
      z-index 2
      @media (max-width 992px)
        margin-top 60px
  .sh-1
    position absolute
    right 100px
    bottom 0
    z-index 1
    border 79px solid transparent
    border-bottom 79px solid $col-blue
  .sh-2
    position absolute
    right 0
    bottom 0
    border 109px solid transparent
    border-bottom 109px solid $col-orange
  .features-block
    padding 0
    li
      position relative
      margin 60px 0
      &:last-child
        @media (max-width 992px)
          margin-bottom 0
      h5,p
        margin-left 97px
      &:hover > .feat-ico
        background $col-orange
  .f-1
    li
      &:nth-child(1)
        .feat-ico:before
          width: 36px;
          height: 32px;
          background-position: -255px -5px;
        &:hover > .feat-ico:before
          background-position: -301px -5px;
      &:nth-child(2)
        .feat-ico:before
          width: 41px;
          height: 33px;
          background-position: -347px -5px;
        &:hover > .feat-ico:before
          background-position: -398px -5px;
  .f-2
    li
      &:nth-child(1)
        .feat-ico:before
          width: 45px;
          height: 39px;
          background-position: -449px -5px;
        &:hover > .feat-ico:before
          background-position: -504px -5px;
      &:nth-child(2)
        .feat-ico:before
          width: 29px;
          height: 40px;
          background-position: -559px -5px;
        &:hover > .feat-ico:before
          background-position: -598px -5px;
  .f-3
    li
      &:nth-child(1)
        .feat-ico:before
          width: 34px;
          height: 37px;
          background-position: -637px -5px;
        &:hover > .feat-ico:before
          background-position: -681px -5px;
      &:nth-child(2)
        .feat-ico:before
          width: 38px;
          height: 34px;
          background-position: -725px -5px;
        &:hover > .feat-ico:before
          background-position: -773px -5px;
//--------------------------------
.price-list-main
  padding 100px 0 90px
  .price-list
    ul
      margin-top 40px
      li
        background $col-white
        border 1px solid $col-whiteblue-10
        width 262px
        height 425px
        position relative
        overflow hidden
        margin-bottom 20px
        &:hover
          box-shadow 0 0 100px rgba(228, 233, 237, 0.75)
        button
          margin-bottom 35px
    p
      margin 0
    .price-name
      font 700 20px/24px $font-raleway
      color $col-blackblue
      margin-top 30px
    .price-term
      color $col-gray-25
      font 500 18px/24px $font-raleway
      padding 20px 0
      border-top 1px solid $col-whiteblue-10
      border-bottom 1px solid $col-whiteblue-10
      .symb
        padding 21px 0
        border-top 1px solid $col-orange
        font 500 18px/24px $font-raleway
        color $col-orange
    .features
      height 225px
      padding 40px 0
      > p
        color $col-darkgray
        font 400 15px/36px $font-osans
//----------------------------------
.our-team-main
  padding 100px 0
  background $col-whiteblue-10
  .our-team
    > ul
      margin-top 40px
      > li
        background $col-white
        width 262px
        height 400px
        margin-bottom 20px
        &:hover
          box-shadow 0 0 65px $col-teamhover
        button
          margin-bottom 35px
    p
      margin 0
  .team-inner
    padding 30px
//--------------------------------
.special-agreement
  padding 100px 0 0
  .container
    border-bottom 1px solid $col-bordergray
    padding-bottom 90px
  .article-head
    font-weight 500
    >span
      color $col-orange
  .article-subhead
    margin-bottom 30px
  button
    &:first-child
      margin-right 20px
//------------------------------
.main-footer
  padding-top 75px
  position relative
  .container
    padding-bottom 80px
    border-bottom 1px solid $col-bordergray
    &>*
      position relative
      z-index 2
    &:before
      content: url("../img/foot-3ang-left.svg")
      position absolute
      width 453px
      left 0
      bottom 105px
      z-index 1
  .container-fluid
    background $col-white
    position relative
    &>*
      position relative
      z-index 2
    &:before
      content url("../img/foot-3ang-right.svg")
      position absolute
      right 0
      z-index 1
      bottom -5 px
      width 502 px
    p.gray-nav
      padding 10px 0 55px
  .feature-head
    font-size 18px
    margin 0 0 15px
  .logo
    margin 0
  .end-nav
    justify-content flex-end
  .start-nav
    justify-content flex-start
  .end-nav,.start-nav
    height 180px
    margin 10px 0
    .form-control
      border-radius 0
      height 42px
      border 1px solid $col-bordergray
      font 400 14px/22px $font-karla
      color $col-gray
      letter-spacing 1px
      placeholder-style(color, $col-gray)
      placeholder-style(font, 400 12px $font-karla)
      placeholder-style(letter-spacing, 1px)
      placeholder-style(line-height, 22px)
    .input-group-btn
      > button
        width 42px
        height 42px
        padding-left 10px
        font 400 15px/20px $font-robslab
        color $col-white
        border-radius 0
        background $col-blue
        border 1px solid $col-blue
        &:hover
          background $col-gray
          border-color $col-gray
  ul
    padding 0
    margin 0
    address
      font 400 14px/35px $font-karla
      letter-spacing 1px
      color $col-black
//------------------------------
.blog-greet-main
  background url("../img/home-img-slide-1.jpg") no-repeat center 40%
  height 310px
  .blog-greet
    > h2
      font 700 48px $font-raleway
      color $col-white
    > p
      font 700 14px/36px $font-raleway
      color $col-white
      letter-spacing 1px
//----------------------------------
.blog-container-main
  padding 100px 0 0
  .right-bar.col-lg-3
    @media (max-width 1199px)
      order -1
  .blogs-inner
    margin 0
    padding 0
  .blog-block
    padding 0 30px 75px 0
    box-sizing border-box
    .blog-preview
      > video,> audio
        width 100%
        max-width 828px
    .blog-heading
      margin 42px 0 37px
      > .row
        margin 15px 0 0
    &> button
      margin-top 35px
    &:not(:first-child)
      padding 75px 30px 75px 0
      border-top 1px solid $col-bordergray
    .carousel-control
      background-image none
      > span
        position absolute
        top 50%
        z-index 5
        display inline-block
        margin-top -10px
  .aside-block
    &:not(:last-child)
      margin-bottom 62px
    .form-search
      position relative
      margin-bottom 25px
      > input[type="search"]
        padding 14px 18px
        font 400 14px $font-karla
        color $col-social
        border 1px solid $col-bordergray
        width 100%
      > label
        position absolute
        right 18px
        top 15px
        color $col-darkgray
    .aside-heading
      font 500 20px/24px $font-raleway
      color $col-blackblue
      margin 24px 0
    ul
      margin 0
      padding 0
      position relative
      li
        margin 0
    .cat-nav
      text-decoration none
      font 400 13px/36px $font-karla
      letter-spacing 1px
      display block
      color $col-darkgray
      > span
        position absolute
        right 0
        line-height 36px
      &:hover
        color $col-orange
    .post-prev
      display block
      width 67px
      height 67px
      background url("../img/blog-2-img.jpg") no-repeat center 35%
    .post-head
      font 700 15px $font-karla
      color $col-blackblue
      text-decoration none
    .post-wrap
      padding 11px 0 11px 30px
    .post-desc
      font 400 14px/24px $font-karla
      color $col-orange
      margin 0
      > span
        color $col-blackblue
    &.post-block>ul>li:not(:last-child)
      margin-bottom 30px
    &.tags
      ul>li
        margin-bottom 10px
      .aside-tag
        display block
        text-decoration none
        padding 0 15px
        max-height 40px
        font 400 13px/40px $font-karla
        letter-spacing 1px
        color $col-white
        background $col-blue
        &:hover
          background $col-blackblue
  .blog-nav
    clear both
    border-bottom 1px solid $col-bordergray
    padding-bottom 100px
    .pg-link
      font 700 18px/42px $font-karla
      background $col-blue
      color $col-white
      width 43px
      padding 0
      border none
      border-radius 0
      text-align center
      &:hover:not(.pg-bord)
        background $col-orange
    .pg-bord
      background $col-white
      color $col-blackblue
    li:not(:last-child)>.pg-link
      margin-right 10px
//-----------------------------
.blog-post
  .blog-container-main>.container
    border-bottom 1px solid $col-bordergray
  .blog-block
    border-bottom 1px solid $col-bordergray
    .author-block
      margin 55px 0 0
      .blog-txt-orange
        margin-right 0
        padding-right 0
        border-right none
  .comments-block
    padding 64px 0 90px
  .comment
    padding 45px 0
    border-bottom 1px solid $col-bordergray
  .new-comment
    padding-bottom 100px
  .new-comment-form
    max-width 827px
    margin 0
    > input, textarea
      max-width 406px
      width 100%
      padding 0 28px
      background $col-whiteblue-10
      font 400 13px/48px $font-karla
      color $col-blackblue
      margin-bottom 15px
      border none
      placeholder-style(text-transform, uppercase)
      placeholder-style(color, $col-blackblue)
      @media (max-width 1023px)
        max-width 100%
    > textarea
      max-width 827px
    &+button
      margin-top 30px
//-----------------------------
.about-company
  > .container
    margin-top 100px
  .article-head
    margin-top 0
  .article-desc
    max-width 530px
    margin-bottom 0
    &:first-child
      margin-right 75px
  .about-desc
    margin 45px 0 0
    padding-bottom 70px
    border-bottom 1px solid $col-bordergray
  .our-badges
    margin 75px 0 80px
  .badge-in
    position relative
    .badge-digit
      font 400 60px/45px $font-karla
      color $col-blackblue
    .badge-desc
      font 400 14px/24px $font-karla
      color $col-blackblue
      letter-spacing 1px
    > p
      margin-left 85px
    > .badge-ico
      width 50px
      height 50px
      position absolute
      left 0
      top 0
      &:before
        content ""
        display block
        background $col-white url("../img/about-icosprite.png") no-repeat
    &:nth-child(1)
      .badge-ico:before
        width: 40px;
        height: 40px;
        background-position: -5px -5px;
    &:nth-child(2)
      .badge-ico:before
        width: 42px;
        height: 30px;
        background-position: -5px -55px;
    &:nth-child(3)
      .badge-ico:before
        width: 40px;
        height: 41px;
        background-position: -57px -5px;
    &:nth-child(4)
      .badge-ico:before
        width: 40px;
        height: 40px;
        background-position: -57px -56px;
//---------------------------